<div class="ui-g sign-in-div">
  <form [formGroup]="signInForm">
    <div class="ui-g-12">
      <div class="ui-g-6">
        User Name
      </div>
      <div class="ui-g-6">
        <input type="text" formControlName="userName">
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-6">
        Password
      </div>
      <div class="ui-g-6">
        <input type="text" formControlName="password" pInputText>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-6">
        Role
      </div>
      <div class="ui-g-6">
        <p-dropdown [options]="roles" placeholder="Select Role" formControlName="role"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Sign In" [disabled]="!signInForm.valid" (click)="validLogin()"></button>

    </div>
  </form>
</div>